@page
@model CarNewModel
@{
    ViewData["Title"] = "New Car";
}

<form method="post">

    <div class="input-group mb-3">
        <div class="input-group-prepend col-3">
            <span class="input-group-text h-100">@Html.DisplayNameFor(m => m.Car.Name)</span>
        </div>
        <input asp-for="Car.Name" class="form-control">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend col-3">
            <span class="input-group-text h-100">@Html.DisplayNameFor(m => m.Car.PublicName)</span>
        </div>
        <input asp-for="Car.PublicName" class="form-control">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend col-3">
            <span class="input-group-text h-100">@Html.DisplayNameFor(m => m.Car.SegmentId)</span>
        </div>
        <select asp-for="Car.SegmentId" asp-items="Model.Segments" class="form-control">
            <option>Выберите @Html.DisplayNameFor(m => m.Car.SegmentId)</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend col-3">
            <span class="input-group-text h-100">@Html.DisplayNameFor(m => m.Car.Rate)</span>
        </div>
        <input asp-for="Car.Rate" class="form-control">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend col-6 col-md-3">
            <span class="input-group-text h-100">Комментарии</span>
        </div>
        <textarea asp-for="Car.Comment" class="form-control" rows="3"></textarea>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend col-3">
            <span class="input-group-text h-100">Цвет</span>
        </div>
        <input asp-for="Car.Color" type="color" class="form-control-color" style="border:0px">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend col-3">
            <div class="input-group-text">
                <span>В архиве</span>
            </div>
        </div>
        <div class="input-group-append">
            <div class="input-group-text h-100">
                <input asp-for="Car.Archive" type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>

    <div class="input-group">
        <input class="btn btn-outline-primary col-3" type="submit" value="Добавить" />
    </div>

</form>